<h1>List of all Restaurants</h1>
<%= link_to 'create new restaurant', new_restaurant_path %>

<% @restaurants.each do |restaurant| %>
  <p><%= link_to restaurant.name, restaurant_path(restaurant) %></p>
<% end %>

